In [1]:
# import Libraries
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (1.6.12)
Requirement already satisfied: six>=1.10 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from kaggle) (6.1.2)
Requirement already satisfied: urllib3 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from kaggle) (1.26.18)
Requirement already satisfied: bleach in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: webencodings in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: importlib-resources in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from tqdm->kaggle) (5.4.0)
Requirement already satisfied: colorama in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from tqdm->kaggle) (0.4.5)
Requirement already satisfied: zipp>=3.1.0 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from importlib-resources->tqdm->kaggle) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from packaging->bleach->kaggle) (3.0.7)

In [3]:
import kaggle 
!kaggle datasets download ankitbansal06/retail-orders

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
retail-orders.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
import zipfile 
zip_ref = zipfile.ZipFile('retail-orders.zip')
zip_ref.extractall() 
zip_ref.close()

In [6]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.1.5-cp36-cp36m-win_amd64.whl (8.7 MB)
Requirement already satisfied: numpy>=1.15.4 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.2
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Requirement already satisfied: six>=1.5 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.5 pytz-2024.1

In [7]:
import pandas as pd
df = pd.read_csv('orders.csv', na_values=(['Not Available','unknown'])) #these  2 treat as null
df.head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [8]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [9]:
# df.rename(columns={'Order Id':'order_id','City':'city'}) but this is no good for renaming 15 cols
df.columns= df.columns.str.lower()

In [10]:
df.columns= df.columns.str.replace(' ','_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [11]:
df['total_discount']=df['list_price']*df['discount_percent']*.01*df['quantity']

In [12]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,total_discount
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,10.4
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,65.7
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,96.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,2.0

In [13]:

df['total_sale']=(df['list_price']*df['quantity'])-df['total_discount']

In [14]:
df['total_profit']=  (df['total_sale']-df['cost_price']*df['quantity'])

In [15]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,total_discount,total_sale,total_profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,10.4,509.6,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,65.7,2124.3,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,1.0,19.0,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,96.0,4704.0,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,2.0,38.0,-2.0

In [16]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
total_discount      float64
total_sale          float64
total_profit        float64
dtype: object

In [18]:
df['order_date'] = pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [19]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
total_discount             float64
total_sale                 float64
total_profit               float64
dtype: object

In [23]:
df.drop(columns={'list_price','cost_price','discount_percent'},inplace=True)

In [24]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,total_discount,total_sale,total_profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,10.4,509.6,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,65.7,2124.3,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,1.0,19.0,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,96.0,4704.0,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,2.0,38.0,-2.0

In [25]:
!pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (1.1.5)
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.52-cp36-cp36m-win_amd64.whl (1.6 MB)
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-py2.py3-none-any.whl (390 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from pandas) (2024.1)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp36-cp36m-win_amd64.whl (197 kB)
Requirement already satisfied: importlib-metadata in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from sqlalchemy) (4.8.3)
Collecting protobuf<=3.20.3,>=3.11.0
  Using cached protobuf-3.19.6-cp36-cp36m-win_amd64.whl (897 kB)
Requirement already satisfied: six>=1.5 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in c:\users\pramodkumar\appdata\local\programs\python\python36\lib\site-packages (from importlib-metadata->sqlalchemy) (3.6.0)
Installing collected packages: protobuf, greenlet, sqlalchemy, mysql-connector-python
Successfully installed greenlet-2.0.2 mysql-connector-python-8.0.33 protobuf-3.19.6 sqlalchemy-1.4.52

In [ ]:
# from sqlalchemy import create_engine
import sqlalchemy as sal

conn_str = 'mysql+mysqlconnector://root:Mysql@localhost/ordb'
engine = sal.create_engine(conn_str)
conn = engine.connect()

In [43]:
df.to_sql('df_orders', con=conn, if_exists='append', index=False) 
#instead of replace use append beacause in panda it creates datatypes of highest eg bigint

# engine.dispose()
# Close the connection
conn.close()